<li>
    <div>
        <div style="display: inline-block;"><%= name %></div>
        <button data-event="click" data-action="listItemClick" style="display: inline-block;"><%= name %></button>
    </div>
</li>